<table id="adplus-filter" celspacing="0" cellpadding="5">
<tr>
	<td width="25%">{{ form.ad_title }}</td>
	<td width="25%">{{ form.client_name }}</td>
	<td width="25%">{{ form.ad_location }}</td>
	<td width="25%">{{ form.ad_type }}</td>
</tr>
<tr>
	<td width="25%">{{ form.start_date }}</td>
	<td width="25%">{{ form.end_date }}</td>
	<td width="25%">&nbsp;</td>
	<td width="25%">{{ form.submit }}</td>
</tr>
</table>
{{ form.redirect_type }}
{{ form.form_build_id }}
{{ form.form_id }}
{{ form.form_token }}
{{ form.actions }}
